---
const { title, url, tags, target = '_blank', pubDate } = Astro.props;
---

<a href={url} target={target}>
  <article class="group card bg-neutral-50 px-4 py-3">
    <header>
      <time datetime={pubDate.toISOString()} class="text-xs text-gray-500"
        >{pubDate.toLocaleDateString('ja-JP')}</time
      >
    </header>
    <h2 class="group-hover:link">{title}</h2>
    <footer class="card-actions mt-px">
      {
        tags &&
          tags.map((tag: string) => {
            if (tag === 'zenn') {
              return (
                <div class="badge badge-sm border-none bg-[#3EA8FF] text-white">
                  #{tag}
                </div>
              );
            }
            return <div class="badge badge-ghost badge-sm">#{tag}</div>;
          })
      }
    </footer>
  </article>
</a>
