---
import dayjs from 'dayjs';
import localizedFormat from 'dayjs/plugin/localizedFormat';
import { BlogSchema } from '../content/config';
import BaseLayout from './BaseLayout.astro';

export interface Props extends BlogSchema {}

const { title, pubDate, updatedDate, heroImage, tags } = Astro.props;
dayjs.extend(localizedFormat);
---

<BaseLayout title={title} image={heroImage} sideBarActiveItemID="blog">
  <main class="md:flex md:justify-center">
    <article class="prose">
      {
        updatedDate ? (
          <time
            datetime={updatedDate.toISOString()}
            class="text-xs text-gray-500"
          >
            {updatedDate.toLocaleDateString()}に更新
          </time>
        ) : (
          <time datetime={pubDate.toISOString()} class="text-xs text-gray-500">
            {pubDate.toLocaleDateString()}に公開
          </time>
        )
      }
      <h2 class="mt-0 mb-0 text-3xl font-bold">{title}</h2>
      <div class="mt-2 flex flex-wrap gap-2">
        {
          tags &&
            tags.map((tag) => (
              <div class="badge badge-ghost badge-sm">#{tag}</div>
            ))
        }
      </div>
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
